mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
    /* The image used */
    background-image: url("../assets/images/welcome.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

mat-sidenav {
    width: 200px;
}